<!DOCTYPE html>
<html th:replace="~{layouts/base :: layout(~{::title}, ~{::content})}">
<head>
    <title>All Players</title>
</head>
<body>

<th:block th:fragment="content">

    <div class="container my-5">

        <h1 class="border-bottom mb-5">All Players</h1>

        <div class="chart-container my-5" style="height:350px">
            <canvas id="canvas1"></canvas>
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col" th:each="player: ${players}">
                <div class="card h-100 text-center">
                    <img class="card-img-top mx-auto mt-4 rounded-circle" style="width: 150px; height: 150px; object-fit: cover;" th:src="${player.imagePath}" th:classappend="${player.imagePath == null} ? 'animated-gradient-js' : ''">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a th:href="@{'/player/' + ${player.id}}" th:text="${player.firstName} + ' ' + ${player.lastName}"></a>
                        </h5>
                        <p class="card-text text-muted fw-bold" th:text="${player.position}"></p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="/js/player-all.chart.canvas1.js"></script>

</th:block>

</body>
</html>
